*{
    margin: 0;
    padding: 0;
}
.containerMenu {
    max-width: 1230px;
    height: 52px;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
}
.containerMenu img{
    height: 22px;
     align-self: center;
}